@charset "UTF-8";


/* font-family: 'Open Sans', sans-serif; */    
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* font-family: 'Shadows Into Light', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
    
    
* {box-sizing: border-box; margin: 0; padding: 0; font-size: 14px; outline: none;}
body {background: #eee; font-size: 1rem; font-family: 'Open Sans', sans-serif;}
p {font-weight: 300;}
    
#container {display: flex; flex-wrap: wrap; justify-content: center; margin: 0 auto; padding: 20px 0; width: 100%; max-width: 1000px;}

/*********** 헤더(로고, 네비) ***********/
#header {display: flex; flex-wrap: wrap; justify-content: center; width: 100%;}
/* 로고 */
#logo {width: 170px; cursor: pointer;}
#logo img {display: block; width: 100%;}
/* 네비 */
#nav {display: flex; flex-wrap: wrap; justify-content: center; width: 100%;}
#nav .ul {list-style: none; text-align: center;} 
#nav .li {line-height: 180%; cursor: pointer;}
#nav .li:hover {color: #999;}
    
/*********** 섹션 ***********/
.btn {margin: 50px; padding: 7px 25px; border: 3px solid rgba(255,255,255,.5); border-radius: 30px; background: transparent; color: #fff; font-weight: 100; outline: none; cursor: pointer; transition: .2s;}
.btn:hover {background: #fff; color: #000;}
/* 섹션A */
#secA {width: 100%; background: url(images/hero.jpg); background-size: cover; color: #fff; text-align: center;} 
#secA .p1 {margin: 50px; font-size: 1.6rem; font-weight: 400;}
#secA .p2 {}
#secA .h1 {line-height: 100%; font-size: 3rem; font-weight: 500;}
#secA .btn {margin: 50px;}

/* 섹션B */
#secB {width: 100%; color: #fff; text-align: center;}
.sB_inBox1 {background: #89beb4;}
.sB_inBox2 {background: #9f74b0;}
#secB .h2 {padding: 10px 0; font-size: 2rem; font-weight: 500;}
#secB .p {}
#secB .btn {margin: 20px 0 35px 0;}
    
/* 섹션C */
#secC {}  
#secC .slideImg {display: block; width: 100%; cursor: pointer;}
    
/*********** 푸터 ***********/
#footer {}
#footer p {padding: 20px; text-align: center;}
    
    
/*********** 모달창 ***********/
#modalBg {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.8);}
#modalBox {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; max-width: 700px;} 
#modalImg {display: block; width: 100%;}
#modalTit {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 6rem; color: #fff; font-family: 'Shadows Into Light', cursive;}
#modalBtn {position: absolute; top: -50px; right: 0; padding: 7px 25px; border: 3px solid rgba(255,255,255,.5); border-radius: 30px; background: transparent; color: #fff; font-weight: 100; outline: none; cursor: pointer;}

.moveBtn {position: absolute; top: 50%; transform: translate(-50%,-50%); padding: 10px; border: none; background: transparent; color: #fff; font-size: 3rem; cursor: pointer; outline: none;}
.moveBtn.left {left: 5%;}
.moveBtn.right {left: 95%;}
    
#dotBtns {display: flex; position: absolute; bottom: -50px; left: 50%; transform: translate(-50%,-50%);}
.dot {margin-right: 5px; width: 20px; height: 20px; border: 3px solid rgba(255,255,255,.5); border-radius: 50%; cursor: pointer;}
.dot:first-child {background: #fff;}   
    
    
/***************** 태블릿 화면(501px~) ********************/   
@media screen and (min-width: 501px){

    #nav .ul {display: flex;}
    #nav .li {margin: 20px 10px;}
    
    #secA {margin-bottom: 10px;}
    
    #secB {display: flex; justify-content: space-between; margin-bottom: 10px;}
    .sB_inBox1 {width: calc(50% - 5px);}
    .sB_inBox2 {width: calc(50% - 5px);}
    
    #secC {display: flex; flex-wrap: wrap; justify-content: space-between;}
    #secC .slideImg {margin-bottom: 10px; width: calc(50% - 5px);}
    #secC .slideImg:nth-child(3), #secC .slideImg:last-child {margin-bottom: 0;}
}
    
 /***************** PC 화면(1024px~) ********************/   
@media screen and (min-width: 1024px){
    
    #header {justify-content: space-between;}
    
    #nav {width: 33%;}

    #secC img {width: calc(25% - 7.5px); margin-bottom: 0;}
}