/********** REGISTER, LOGIN (rl) **********/
@charset "UTF-8";



.container.rl {display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 50px; height: 90vh;}
#register, #login {width: 100%; max-width: 450px; text-align: center;}
.rl_tit {margin-bottom: 10px; font-size: 1.7rem; font-weight: 500;}
.rl_p {margin-bottom: 50px; font-size: .9rem; color: #888;}
.rl_form {display: flex; flex-wrap: wrap; justify-content: space-between;}
.rl_inputTxt {margin-bottom: 15px; padding: 0 10px; width: 100%; height: 40px; border: 1px solid #ddd; cursor: text;}
.rl_checkBox {font-size: .9rem; color: #888;}
.rl_check {margin-right: 5px;}
.rl_checkMore {margin-left: 10px; font-size: .75rem; text-decoration: underline; cursor: pointer;}
.rl_btn {margin-top: 30px; margin-bottom: 15px;  width: 100%; height: 40px;  border: none; background: #222; color: #fff; cursor: pointer;}

/********** REGISTER **********/
.rl_checkBox.register {display: flex; align-items: center;}
.rl_btn.register {margin-top: 30px; margin-bottom: 15px;  width: 100%; height: 40px;  border: none; background: #222; color: #fff; cursor: pointer;}

/********** LOGIN **********/
#login_findBtn {border: none; background: none; font-size: .85rem; color: #aaa;}
#login_registerBtn {width: 100%; height: 40px; border: 1px solid #222; background: none; color: #222;}




/************************************************************************************* 450px */
@media screen and (max-width: 450px){
    
    .rl_checkBox.register {width: 100%;}
}





