@charset "utf-8";

/** Google WebFonts **/
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Meddon', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');

/* 초기화 */
* {margin: 0, padding: 0; box-sizing: border-box; font-size: 15px;}
body {margin: 0 auto; cursor: default; font-family: 'Noto Sans KR', sans-serif; font-size: 1rem;}
ul {margin: 0; padding: 0; list-style: none;}
li {cursor: pointer;}
h1, h2, h3, h4, h5, h6, p {margin: 0;}

/* 컨테이너 */
.container_flex {display: flex; flex-wrap: wrap; align-items: center; position: relative; margin: 0 auto; width: 100%; max-width: 1200px;}
.container_flex_SB {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; position: relative; margin: 0 auto; width: 100%; max-width: 1200px;}
.container_flex_CT {display: flex; flex-wrap: wrap; justify-content: center; position: relative; margin: 0 auto; width: 100%; max-width: 1200px;}


/********* 상단메뉴바 **********/
#menu {z-index: 100; position: fixed; top: 0; width: 100%;}

/* 서브메뉴 */
#submenu_box {position: relative; width: 100%; background: #444;}
.submenu {padding: 7px; font-size: .8rem; font-weight: 300; color: #fff; cursor: pointer;}

/* 메인메뉴 */
#mainmenu_box {padding: 15px; background: #fff; border-bottom: 1px solid #ccc;}
/* 로고 */
#logo {width: 60px; cursor: pointer;}
#logo img {width: 100%;}
/* 네비 */
#nav {position: absolute; right: 10%;}
/* 모바일) 네비아이콘 */
#nav_iBox {display: none; position: fixed; top: .7%; left: 2%;}
.nav_i {color: #fff; font-size: 1.4rem; cursor: pointer;}
/* 네비리스트 */
#nav ul {display: flex;}
#nav li {position: relative; padding: 30px 50px; transition: .5s;}
#nav li::after {content: ''; position: absolute; bottom: 3px; left: 0; width: 100%; height: 5px; background: #d3c0a2; transform: scale(0); transition: .5s;}
#nav li:hover {color: #d3c0a2;}
#nav li:hover::after {transform: scale(1);}


/********* 헤더 *********/
#header {position: relative; overflow: hidden; margin-top: 107px; height: calc(100vh - 117px); background-image: url(../images/header_1.jpg); background-size: cover; background-position: center;}

/* 슬라이드 타이틀 */
#slideTit_box {}
.slideTit {display: none; position: absolute; color: #fff;}
.slideTit h1 {}
.slideTit p {}
/* 슬라이드 타이틀 -1 */
.slideTit:first-child {width: 100%; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; font-family: 'Meddon', cursive; }
.slideTit:first-child h1 {font-size: 5rem; animation: fromTop 1s backwards;}
.slideTit:first-child p {font-size: 2rem; animation: fromTop 1s .3s backwards;}
/* 슬라이드 타이틀 -2 */
.slideTit:nth-child(2) {top: 15%; left: 70%; text-align: right;}
.slideTit:nth-child(2) h1 {font-size: 3rem; animation: fromLeft 1s .3s backwards;}
.slideTit:nth-child(2) p {font-variant: small-caps; font-size: 1.3rem; animation: fromLeft 1s backwards;}
/* 슬라이드 타이틀 -3 */
.slideTit:last-child {top: 60%; left: 13%; text-align: left;}
.slideTit:last-child h1 {font-size: 3rem; animation: fromRight 1s .3s backwards;}
.slideTit:last-child p {font-variant: small-caps; font-size: 1.3rem; animation: fromRight 1s backwards;}

@keyframes fromTop {
    from {transform: translateY(20%); opacity: 0;}
    to {}
}
@keyframes fromLeft {
    from {transform: translateX(-20%); opacity: 0;}
    to {}
}
@keyframes fromRight {
    from {transform: translateX(20%); opacity: 0;}
    to {}
}


/* 슬라이드 좌우버튼 */
.slideBtn {position: absolute; top: 50%; transform: translateY(-50%); width: 30px; height: 35px; border: none; background: transparent; cursor: pointer;}
.slideBtn:hover .sBtn_i2 {transform: scale(1.1);}
.slideBtn.left {left: 5%;}
.slideBtn.right {right: 5%;}
    .sBtn_i2 {font-size: 2rem; color: #fff;}

/* 슬라이드 닷버튼 */
.slideDot_box {display: flex; position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%);}
.slideDot {margin-right: 7px; width: 12px; height: 12px; border: 2px solid #fff; border-radius: 10px; cursor: pointer; transition: width .5s;}
.slideDot:first-child {width: 30px; background: #fff;}


/********* 섹션 *********/
/**** 섹션A ****/
#secA {margin: 90px 0 60px 0; }
/* 섹션A : 인박스 */
.sA_inbox {display: flex; flex-wrap: wrap; justify-content: space-between; border: 1px solid #ccc; padding: 30px 60px; width: 49%;}
/* 섹션A : 타이틀, more버튼 */
.sA_tit {position: relative; width: 70%; font-size: 1.1rem;}
.sA_tit::before {content: ''; position: absolute; top: -10%; left: 0; width: 20px; height: 3px; background: #bbb;}
.sA_btn {border: none; background: transparent; font-size: .8rem; cursor: pointer;}
/* 섹션A : 리스트 */
.sA_listBox {display: flex; justify-content: space-between; margin-top: 20px; width: 100%;}
.sA_lists {width: 70%;}
.sA_lists li {overflow: hidden; padding: 2px 0; white-space: nowrap; text-overflow: ellipsis; color: #555; font-weight: 300;}
.sA_dates {width: 30%; text-align: right;}
.sA_dates li {color: #aaa; padding: 2px 0; cursor: default; font-weight: 300;}

/**** 섹션B ****/
#secB {margin-bottom: 90px}
/* 섹션B : 인박스 */
.sB_inBox {overflow: hidden; position: relative; width: 32%; height: 200px; border: 1px solid #ccc; cursor: pointer;}
.sB_inBox:hover img {transform: scale(1.05);}
/* 섹션B : 이미지 */
.sB_inBox img {display: block; width: 100%; height: 100%; transition: .5s;}
/* 섹션B : 텍스트 */
.sB_txtBox {position: absolute; top: 20%; left: 10%; color: #333;}
.sB_txtBox h3 {margin: 0; font-size: 1.3rem;}
.sB_txtBox p {margin-top: 5px; margin-left: 5px; width: 60%; line-height: 130%; font-size: .8rem; font-weight: 300;}
/* 섹션B : 아이콘 */
.sB_iconBox {position: absolute; bottom: 15%; right: 7%;}
.sB_i {font-size: 3.5rem; color: #d3c0a2;}

/**** 섹션C ****/
#secC {background: url(../images/sC_pattern2.png);}
#secC {background: url(../images/sC_pattern2.png);}
/* 섹션C : 인박스 */
.sC_inBox {margin: 80px 20px; text-align: center; color: #fff; cursor: pointer;}
/* 섹션C : 아이콘 */
.sC_iconBox {width: 100px; height: 100px; line-height: 110px; border: 2px solid #fff; border-radius: 50%;}
.sC_iconBox:hover .sC_i {transform: scale(1.1);}
.sC_i {font-size: 2rem; transition: .5s;}
/* 섹션C : 텍스트 */
.sC_txt {margin-top: 15px; font-size: 1rem; font-weight: 300;}

/**** 섹션D ****/
#secD {margin: 90px 0 140px 0;}
/* 섹션D : 인박스 */
.sD_inBox {position: relative; width: 32%;}
/* 섹션D : 타이틀, more버튼 */
.sD_tit {display: inline-block; margin-bottom: 15px; font-size: 1.1rem;}
.sD_tit::before {content: ''; position: absolute; top: 6%; left: 29%; width: 50%; border-bottom: 2px dotted #aaa;}
.sD_i1 {position: absolute; top: 2%; right: 5%; font-size: 1.2rem; cursor: pointer;}
/* 섹션D : 유튜브 */
.sD_video {position: relative; padding-bottom: 200px;}
.sD_video iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;}

/* 섹션D : 슬라이드 */
.sD_slideBox {overflow: hidden; position: relative; height: 200px;}
/* 섹션D : 슬라이드 이미지 */
.sD_imgBox {}
.sD_img1, .sD_img2 {display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; animation: fadeIn 1s; cursor: pointer;}
.sD_img1:first-child, .sD_img2:first-child {display: block;}

@keyframes fadeIn {
    from {opacity: .8;}
    to {opacity: 1;}
}
/* 섹션D : 슬라이드 좌우버튼 */
.sD_btn {position: absolute; top: 50%; transform: translateY(-50%); width: 35px; height: 35px; border: none; background: transparent; cursor: pointer;}
.sD_btn:hover .sD_i2 {transform: scale(1.1);}
.sD_btn.left {left: 5%;}
.sD_btn.right {right: 5%;}
.sD_i2 {font-size: 2rem; color: #fff;}
/* 섹션D : 슬라이드 닷버튼 */
.sD_dotBox {display: flex; position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%);}
.sD_dot1, .sD_dot2 {margin-right: 7px; width: 12px; height: 12px; border: 2px solid #fff; border-radius: 50%; cursor: pointer; transition: .5s;}
.sD_dot1:first-child, .sD_dot2:first-child {background: #fff;}
/* 섹션D : 텍스트 */
.sD_txtBox {position: absolute; right: 2%; line-height: 120%; margin-top: 15px; text-align: right;}
.sD_p1 {font-size: 1.1rem;}
.sD_p2 {color: #888;}

/**** 섹션E ****/
#secE {background: url(../images/secE.jpg) no-repeat fixed; background-size: cover; background-position: top; text-align: center;}
.sE_txtBox {padding: 100px 0; color: #fff;}
.sE_txtBox h4 {font-size: 2.5rem; font-weight: 200;}
.sE_txtBox b {font-size: 2.5rem; font-weight: 300;}
.sE_txtBox p {font-variant: small-caps;} /* 전부 대문자인데 첫글자만 더 크게 */

/**** 섹션F ****/
#secF {margin: 130px 0;}
#secF h4 {font-size: 1.5rem;}
.sF_imgBox {display: flex; flex-wrap: wrap; justify-content: center; align-items: center; width: 80%;}
.sF_imgBox .img {margin-right: 5%; width: 10%; cursor: pointer;}
.sF_imgBox .img:nth-child(2) {transform: scale(.9);}
.sF_imgBox .img:nth-child(3) {margin-right: 3%;}
.sF_imgBox .img:nth-child(4) {margin-right: 2%; transform: scale(.8);}
.sF_imgBox .img:nth-child(5) {margin-right: 2%; transform: scale(.8);}
.sF_imgBox .img:nth-child(6) {margin-right: 0; transform: scale(.9);}
.sF_imgBox img {width: 100%;}

/********* 푸터 *********/
#footer {padding: 30px 0; background: #333;}
.address {font-style: normal; color: #fff;}
.address p {font-size: .9rem; font-weight: 100;}

.ft_logo {width: 60px;}
.ft_logo img {width: 100%;}



/********************** 태블릿 화면 (1050px) ************************/

@media screen and (max-width: 1050px){

/* 초기화 */
* {font-size: 17px;}
    
/* 컨테이너 */
.container_flex {justify-content: flex-end;} /* 서브메뉴 오른쪽정렬 */
/********* 상단메뉴바 **********/
/* 서브메뉴 */
#submenu_box {padding-right: 20px;}
/* 메인메뉴 */
#mainmenu_box {padding: 0;}
/* 로고 */
#logo {margin: 10px auto; width: 50px;}
/* 네비 */
#nav {top: 0; left: -40%; width: 40%; height: 100vh; background: #444; transition: .8s;}

/* 모바일) 네비아이콘 */
#nav_iBox {display: block; transition: .3s;}

/* 네비리스트 */
#nav ul {display: flex; flex-wrap: wrap;}
#nav li {width: 100%; padding: 15px 20px; border-bottom: 1px solid #333; color: #fff;}
#nav li::after {display: none;}
    
    
/********* 헤더 *********/
#header {position: relative; overflow: hidden; margin-top: 90px; height: calc(100vh - 100px);}
/* 슬라이드 타이틀 */
.slideTit:first-child, .slideTit:nth-child(2), .slideTit:last-child {width: 80%; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;}
.slideTit:first-child h1, .slideTit:nth-child(2) h1, .slideTit:last-child h1 {line-height: 120%; font-size: 2.2rem; font-weight: 400; animation: fromTop 1s backwards;}
.slideTit:first-child p, .slideTit:nth-child(2) p, .slideTit:last-child p {line-height: 400%; font-size: 1rem; font-weight: 300; font-variant: normal; animation: fromTop 1s .3s backwards;}

/********* 섹션 *********/
/**** 섹션A ****/
#secA {margin: 30px 0;}
/* 섹션A : 인박스 */
.sA_inbox {margin: 10px auto; padding: 20px 30px; width: 90%;}
/* 섹션A : 리스트 */
.sA_lists li {padding: 5px 0;}
.sA_dates li {padding: 5px 0;}
     
/**** 섹션B ****/
#secB {margin-bottom: 40px}
/* 섹션B : 인박스 */
.sB_inBox {margin: .5% 0; width: 100%; height: 130px;}
/* 섹션B : 이미지 */
.sB_inBox img {height: auto;}
/* 섹션B : 텍스트 */
.sB_txtBox h3 {margin: 0; font-size: 1.1rem;}
.sB_txtBox p {margin-top: 5px; margin-left: 5px; font-size: .8;}

/**** 섹션C ****/
#secC {padding: 50px;}
/* 섹션C : 인박스 */
.sC_inBox {margin: 0px 10px; line-height: 0; transform: scale(.7);}

/**** 섹션D ****/
#secD {margin: 50px 0 0 0;}
/* 섹션D : 인박스 */
.sD_inBox {width: 100%; margin-bottom: 95px;}
/* 섹션D : 타이틀, more버튼 */
.sD_tit {margin-left: 4%;}
/* 섹션D : 유튜브 */
.sD_video {padding-bottom: 225px;}
/* 섹션D : 슬라이드 이미지 */
.sD_slideBox {height: 225px;}

/**** 섹션E ****/
#secE {background-attachment: local;}
.sE_txtBox h4 {font-size: 1.5rem;}
.sE_txtBox b {font-size: 1.5rem;}
.sE_txtBox p {font-size: .8rem; font-variant: normal;}
    
/**** 섹션F ****/
#secF {margin: 100px 0;}
#secF h4 {margin: auto; margin-bottom: 10%; font-size: 1.3rem;}
.sF_imgBox {margin: 0 auto; width: 80%;}
.sF_imgBox .img {margin-right: 5%; width: 25%;}
.sF_imgBox .img:nth-child(3) {margin-right: 0;}
.sF_imgBox .img:nth-child(4) {margin-right: 4%;}
.sF_imgBox .img:nth-child(5) {margin-right: 4%;}
    
    
/********* 푸터 *********/
#footer {padding: 50px 15px;}
.address {width: 90%;}
.address p {font-size: .8rem;}
.ft_logo {margin-top: 14px; width: 10%;}

}


/********************** 모바일 화면 (400px) : iPhone 8 ************************/
@media screen and (max-width: 400px){
    
/**** 섹션B ****/
.sB_i {font-size: 2.5rem;}
/**** 섹션C ****/
#secC {padding: 50px 2%;}
/* 섹션C : 인박스 */
.sC_inBox {margin: 0px 10px;}
    
}
