@charset "utf-8";

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Dosis', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box; font-size: 18px; outline: none;}
body {color: #666; font-size: 1rem; font-weight: 300; font-family: 'Roboto', sans-serif;}
ul {list-style: none;}
li {cursor: pointer;}

#container {display: flex; justify-content: space-between;}

/************ 탑박스 (모바일용) ***********/
#topBox {z-index: 8; display: none; position: fixed; top: 0; left: 0; width: 100%; line-height: 70px; background: coral; color: #fff;}
#navBtn {margin-top: -3px; margin-left: 20px; font-size: 2.7rem; cursor: pointer;}
#topBox h1 {position: absolute; right: 20px; font-size: 1rem; font-weight: 300; cursor: pointer;}

#navBg {display: none; opacity: 0; z-index: 9; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(255,255,255,.7); cursor: pointer;}

/************ 네비 ***********/
#navBox {z-index: 10; position: fixed; top: 0; left: 0; padding: 30px; width: 300px; height: 100vh; background: coral; color: #fff;}
#closeBtn {display: none; position: absolute; top: 20px; left: 30px; background: none; border: none; color: #fff; font-size: 2rem; cursor: pointer;}
#navBox h1 {margin: 70px 0; width: 50%; font-size: 1.5rem; font-weight: 400; cursor: pointer;}
#nav {}
#nav ul {}
#nav li {line-height: 230%; font-size: 1.1rem;}

/************ 섹션 ***********/
section {padding-bottom: 100px;}
#sectionBox {margin-left: 300px; padding: 60px; width: calc(100% - 300px);}
.titleBox {padding-bottom: 30px; width: 100%;}
.titleBox h3 {position: relative; padding-bottom: 30px; text-transform: uppercase; font-size: 2.5rem; color: coral; font-weight: 400; font-family: 'Dosis', sans-serif;}
.titleBox h3::after {content: ''; position: absolute; bottom: 10px; left: 0; width: 50px; height: 5px; border-radius: 4px; background: coral;}
.titleBox p {padding-top: 20px;}

#Home {padding-bottom: 0;}
#Home h2 {text-transform: uppercase; font-size: 3.5rem; color: coral; font-weight: 500; font-family: 'Dosis', sans-serif;}

#Showcase {display: flex; flex-wrap: wrap; justify-content: space-between;}
#Showcase > img {margin-bottom: 20px; width: calc(50% - 10px); cursor: pointer;}
#Showcase > img:hover {opacity: .8;}

/* 모달 슬라이드 */
#modalBg {display: none; opacity: 0; z-index: 11; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(255,255,255,.9);}
#modal {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 600px; max-width: 75%;}
#modalImg {display: block; width: 100%;}
#modalTit {display: none; opacity: 0; position: absolute; top: -25px; left: 70px; transform: translate(-50%,-50%); color: coral; font-size: 1.3rem; font-weight: 400;}

#ModalCloseBtn {position: absolute; top: -50px; right: -5px; background: none; border: none; font-size: 2.5rem; color: coral; cursor: pointer;}

.btn {position: absolute; top: 50%; transform: translate(-50%,-50%); background: none; border: none; color: coral; cursor: pointer;}
.btn.left {left: 0%;}
.btn.right {left: 100%;}
.btn i {font-size: 2rem;}

#dotBox {display: flex; flex-wrap: wrap; position: absolute; bottom: -40px; left: 50%; transform: translate(-50%,-50%);}
.dot {margin-left: 10px; width: 15px; height: 15px; background: coral; border-radius: 50%; transition: .5s; cursor: pointer;}

#Service {}

#Designers {display: flex; flex-wrap: wrap; justify-content: space-between;}
#Designers h4 {margin-bottom: 20px; width: 100%; font-weight: 400;}
.Designers_box {width: calc(100% / 3 - 10px);}
.Designers_box img {display: block; width: 100%;}
.Designers_cap {padding: 15px; background: #eee;}
.Designers_cap h5 {font-size: 1.4rem; font-weight: 400;}
.Designers_cap p:nth-child(2) {margin: 18px 0; font-size: .9rem; color: #555;}
.Designers_cap p:nth-child(3) {}

#Packages {display: flex; flex-wrap: wrap; justify-content: space-between;}
#Packages ul {width: calc(100% /2 - 10px);}
#Packages li {padding: 16px 0; border-bottom: 1px solid #ddd; background: #eee; text-align: center;}
#Packages li:first-child {padding: 30px 0; font-size: 1.5rem;}
#Packages li button {padding: 15px 25px; border: none; font-size: .95rem; cursor: pointer;}
#Packages li:nth-child(7) {font-size: 1.7rem;}
#Packages li:nth-child(7) span {color: #888;}

#BasicBox {}
#BasicBox li {}
#BasicBox li:first-child {background: #666; color: #fff;}
#BasicBox li button:first-child {background: #fff;}

#ProBox {}
#ProBox li {}
#ProBox li:first-child {background: coral; color: #fff;}
#ProBox li button:first-child {background: coral; color: #fff;}

#Contact {}
#form {}
#form h6 {margin-top: 15px; margin-bottom: 5px; font-size: .95rem; font-weight: 400;}
#form .inputTxt {width: 100%; height: 40px; border: 1px solid #bbb;}
#form .inputBtn {margin-top: 50px; width: 100%; height: 50px; border: none; background: coral; color: #fff; text-align: center; font-size: .95rem; font-weight: 400; cursor: pointer;}


@media screen and (max-width: 990px){
    
    #topBox {display: flex;}
        
    #navBox {left: -310px; transition: .5s;}
    #navBox.active {left: 0;}
    #closeBtn {display: block;}
    
    #sectionBox {margin-left: 0; padding: 60px 20px; width: 100%;}
    #Home {padding-top: 30px;}
}

@media screen and (max-width: 600px){
    
    #Showcase img {margin-bottom: 15px; width: 100%;}
    
    .Designers_box {margin-bottom: 15px; width: 100%;}
    
    #Packages ul {margin-bottom: 15px; width: 100%;}
}